/* Start About Us */
.breadcrumb-holder{
    background: #F5F5F5;
}
.breadcrumb{
    padding: 10px 0;
    margin: 0
}

.about-us{
    padding: 50px 0;
}
.about-us h1{
    font-size: 60px;
}
.about-us hr{
    width: 80%
}

.about-features{
    padding: 0 0 50px;
}
.about-features h3{
    font-weight: bold
}

.about-ceo{
    background-color: #eee;
}

.about-ceo h2{
    font-weight: bold
}
.about-ceo .btn-primary{
    background-color: rgb(36, 36, 36);
    border-color: rgb(36, 36, 36);
    margin-bottom: 20px;
    
}
/* End About Us */
